<div class="row">
	<div class="col-lg-6">
		<div class="card">
	{{id}}. {{name}}

	{{!-- <button class="change-sleep" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Devour It!{{else}}Delete{{/if}}
	</button> --}}

	{{#if eaten}}<button class="change-sleep" data-id="{{id}}" data-neweaten="{{eaten}}">Devour It!</button>
    {{else}} {{/if}}
	
</div>

	</div>
</div>
